body {
    background-color: blueviolet;
    text-transform: capitalize;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-align: justify;
    color: white;
    font-size: 42pt;
    border-top: 5px solid blue;
    border-bottom: 10px solid rgb(0, 0, 156);
    border-right: 5px solid blue;
    border-left: 5px solid blue;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;

}

h2 {
    text-align: justify;
    font-style: italic;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    font-size: 35px;
    border: 10px double red;
    padding: 10px;
    margin: 40px;
    text-align: center;
}

img {
    width: 40%;
    border: 2cm;
    padding: 5pt;
    margin: 5pt;
    padding: 5px;
    border: 3px solid black;

}

p {
    font-size: 20px;
    color: white;
    font-style: italic;
    margin: 10px;
    padding: 50px;
    border-top: 10px dotted red ;
}

ul {
    text-decoration: dotted;
    font-size: 20px;
    color: whitesmoke;
    list-style: none;
}

a {
    color: cyan;
    text-decoration: none;
    padding: 10px
}

a:hover {
    color: red;
    border: 2px solid red;
    
}