body {
    background-color: blueviolet;
    text-transform: capitalize;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-align: justify;
    color: white;
    font-size: 42pt;

}

h2 {
    text-align: justify;
    font-style: italic;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    font-size: 35px;

}

img {
    width: 40%;
    border: 2cm;
    padding: 5pt;
    margin: 5pt;

}

p {
    font-size: 20px;
    color: white;
    font-style: italic;

}

ul {
    text-decoration: dotted;
    font-size: 20px;
    color: whitesmoke;
    list-style: none;
}

a {
    color: cyan;
    text-decoration: none;
    padding: 10pt
}

a:hover {
    color: red;
}